body{
    min-width: 300px;
    text-align: center;
    background-image: url(assets/img/bg.jpg);
}

h1{
    font-family: 'Courier Prime', monospace;
}

.green{
    color: #77FB4C;
}

p, .button{
    font-family: 'Courier Prime', monospace;
    font-size: 1.25rem;
    color: white;
}

.button{
    background-color: #224738;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 24rem;
    height: 4rem;
    border-radius: 5rem;
    cursor: pointer;
}

.row{
    padding: 0 0.25rem;
    pointer-events: none;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: green;
    pointer-events: none;
}

/* animations */
@keyframes moveCircleRight{
    from{
        left: 0;
        background-color: green;
    }
    to{
        left: 100%;
        transform: translateX(-100%);
        background-color: red;
    }
}

@keyframes moveCircleLeft{
    from{
        left: 100%;
        transform: translateX(-100%);
        background-color: red;
        
    }
    to{
        left: 0;
        background-color: green;
    }
}

@keyframes backgroundRed{
    from{
        background-color: green;
    }
    to{
        background-color: red;
    }
}

@keyframes backgroundGreen{
    from{
        background-color: red;
    }
    to{
        background-color: green;
    }
}
